<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
    <title>IdeaBox</title>
  </head>
  <body>
    <div id='container'>
      <%= yield %>
    </div>
  </body>
</html>
